<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headCust">
<meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/bootstrap-5.3.1-dist/css/bootstrap.min.css}">
    <script th:src="@{/jquery-3.7.0-dist/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.3.1-dist/js/bootstrap.min.js}"></script>

    <style>
        .body{
        margin-top: 20px;
        padding-bottom: 20px;
        }
    </style>

</head>
<body>
        <div th:fragment="navlinks">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/novo">Cadastro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/consulta">Consulta</a>
                </li>
            </ul>
        </div>
        <div th:fragment="footer" align="center"> Ohhhhh, Zé da Manga @ All Fuleragi Reserved !!! </div>
</div>
</body>
</html>