<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: headCust">
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <title>Cadastro</title>
</head>
<body>
<div th:replace="base :: navlinks"></div>
    <div class="alert alert-primary" role="alert">
        <h2> Cadastro de Veiculos </h2>
    </div>
<form>
    <div class="form-group">
        <label for="exampleFormControlInput"> Marca :</label>
        <input type="marca" class="form-control" id="exampleFormControlInput">
    </div>
    <p></p>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"> Veículo :</label>
        <input type="veiculo" class="form-control" id="exampleFormControlInput1">
    </div>
    <p></p>
    <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label"> Ano :</label>
        <input type="ano" class="form-control" id="exampleFormControlInput2">
    </div>
    <p></p>
    <div class="mb-3">
        <label for="exampleFormControlTextarea" class="form-label"> Descrição :</label>
        <textarea class="form-control" id="exampleFormControlTextarea" rows="3"></textarea>
    </div>
    <p></p>
    <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label"> Preço :</label>
        <input type="preco" class="form-control" id="exampleFormControlInput3">
    </div>
    <p></p>
    <div class="mb-3">
        <label for="exampleFormControlInput4" class="form-label"> Chassi :</label>
        <input type="chassi" class="form-control" id="exampleFormControlInput4">
    </div>
    <p></p>
    <div class="form-group">
        <label for="exampleFormControlSelect1"> Vendido </label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Sim</option>
            <option>Não</option>
        </select>
    </div>
    <p></p>
    <p></p>
    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button">Salvar</button>
        <button class="btn btn-primary" type="button">Cancelar</button>
    </div>
</form>


<div th:replace="base :: footer"></div>
</body>
</html>