<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: headCust">
<meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/bootstrap-5.3.1-dist/css/bootstrap.min.css}">
    <script th:src="@{/jquery-3.7.0-dist/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.3.1-dist/js/bootstrap.min.js}"></script>

    <title> ..:: Consulta de Veículos ::.. </title>

</head>
<body>
<div th:replace="base :: navlinks"></div>

<div class="container">
    <div class="row">

        <div class="col">
            <h2>Lista de Veículos</h2>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Marca</th>
                    <th>Veículo</th>
                    <th>Ano</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Chassi</th>
                    <th>Vendido</th>
                    <th>Criado</th>
                    <th>Atualizado</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${veiculo.empty}">
                    <td colspan="2">Sem veículos</td>
                </tr>
                <tr th:each="veiculo : ${veiculo}">
                    <td><span th:text="${veiculo.marca}"> Marca </span></td>
                    <td><span th:text="${veiculo.veiculo}"> Veículo </span></td>
                    <td><span th:text="${veiculo.ano}"> Ano </span></td>
                    <td><span th:text="${veiculo.descricao}"> Descrição </span></td>
                    <td><span th:text="${veiculo.preco}"> Preço </span></td>
                    <td><span th:text="${veiculo.chassi}"> Chassi </span></td>
                    <td><span th:text="${veiculo.vendido}"> Vendido </span></td>
                    <td><span th:text="${#dates.format(veiculo.created, 'dd/MM/yyyy HH:mm')}"> Criado </span></td>
                    <td><span th:text="${#dates.format(veiculo.updated, 'dd/MM/yyyy HH:mm')}"> Atualizado </span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="base :: footer"></div>
</body>
</html>