<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: headCust">
<meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/bootstrap-5.3.1-dist/css/bootstrap.min.css}">
    <script th:src="@{/jquery-3.7.0-dist/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.3.1-dist/js/bootstrap.min.js}"></script>

    <title> ..:: Consulta de Veículos ::.. </title>

</head>
<body>
<div th:replace="base :: navlinks"></div>

    <h2> Consulta de Veículos </h2>

</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Veiculo</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Marca</h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">Ano</h6>
        <p class="card-text">Descrição</p>

        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Alterar</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Excluir</button>


        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Edição Veículo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                Você deseja continuar ?
            </div>
        </div>
    </div>

</div>

<div th:replace="base :: footer"></div>
</body>
</html>