<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<link rel="stylesheet" th:href="@{/bootstrap-5.3.1-dist/css/bootstrap.min.css}"></link>
<script th:src="@{/jquery-3.7.0-dist/jquery-3.7.0.min.js}"></script>
<script th:src="@{/bootstrap-5.3.1-dist/js/bootstrap.min.js}"><</script>


<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 th:text="${msnBemVindo}"></h2>
      </div>
    </div>
  </div>

</body>
</html>